<div class="container">
  <br><br>
  <section class="col-md-8 col-sm-12">
      <h3 style="text-align:center;font-size: 28px">Posts</h3>
      <hr>
      {%if posts %} 
      {% for post in posts %}
      <p>
          <span style="color:rgb(5, 5, 54)"> {{post.user}}</span> {{post.message}}
          
      </p>
      {% endfor %}
       {% else %}
      <p style="text-align:center">No activity Yet</p>
      {% endif %}
  </section>


  <section class="col-md-4 col-sm-12">
      <h4 style="text-align:center;font-size: 28px"> Businesses in {{estates.estate}}</h4>
      {% if business %} 
      {% for biz in business %}
  <div class="container-1">>
      <a href="{% url 'business' biz.id %}">
          <p>{{biz.project}}</p>
      </a>
  </div>
      {% endfor %} {% else %}
      <p>No Business Posted Yet</p>
      {% endif%}
  </section>

</div>