{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navMain">
  <div class="container navigation wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li style="width: 100px;" class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#about">
                <h3>Black Pearl</h3>
            </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid px-0 d-flex justify-content-between nav-border text-white-50">
    <div id="menu-toogle" class="d-flex align-items-center w-25 pl-4">
      <div class="mb-0 pr-4 f-12 txt-lightgrey">
        <!-- done the menu with the help of w3schools -->
        <div id="mySidebar" class="sidebar">
            <a style="float:left" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times; Close</a>
            <ul>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'index' %}">
                        Neighbourhood
                    </a>
                </li>
                <li>

                </li>
            </ul>
          <a href="{%url 'profile' user.profile.id %}">profile</a>
          <a href="/all/hoods">All Hoods</a>
          <a href="/post">Post</a>
          <a href="#">Change Hood</a>
          <a href="/new/business/">Businesses</a>
          <div id="login-submit" class="d-flex align-items-center w-25">
            {% if user.is_authenticated %}
            <li class="f-12 font-weight-bold mx-2 px-1  ml-auto text-white-50 d-flex"></a>
              <a class="nav-link txt-lightgrey" href="{%url 'profile' user.profile.id%}">
                <span class="" style="text-transform:capitalize;font-size: 15px">Profile</span>
              </a>  
            </li>
            <li class="f-12 font-weight-bold mx-2 px-1  ml-auto text-white-50 d-flex"></a>
                <a class="nav-link txt-lightgrey" href="{% url 'logout' %}">
                  <span class="" style="text-transform:capitalize;font-size: 15px">Log Out</span>
                </a>  
              </li>
            <a class="ml-auto nav-link" href="" style="text-transform:capitalize;font-size: 15px">logout</a>
      
            {% else %}
            <a href="{% url 'login' %}" class=" txt-lightgrey ">LogIn</a>
            {% endif %}
              
          </div>
        </div>
            
        <div id="main">
          <button class="openbtn" onclick="openNav()">&#9776; Details</button> 
        </div>
      </div>
      <div class="pl-4 h-100 border-left border-dark  d-flex align-items-center">
        <form class="d-flex justify-items-center"  enctype="multipart/form-data" >
          {% csrf_token %}
          <a class="mb-0 d-flex align-items-center" id="search-button">
            <img id="img-icon" src="{% static 'img/search.png' %}" alt="">
            <input class="form-control input-height border-0 ml-2 bg-transparent text-white" type="text" placeholder="Search" name="proname"  >
          </a>
          <button class="btn btn-sm d-none" type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</nav>

    <!-- About Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="{% static '/images/ricardo-gomez-angel-GsZLXA4JPcM-unsplash.jpg' %}" class="" style="width:30px">
                    <h2 class="modal-title text-center">Black Pearl</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container row text-center">
                        <p>
                            Black Pearl allows you to view your neighbourhoods
                            <br>
                        <p>
                            Stay updated with the latest updates about your neighbourhood. <br>
                            Search for businesses in your neighbourhood. <br>
                            Get emergency hotlines
                        </p>
                        </p>
                        <div>
                            <img src="{% static 'images/spalsh.jpg' %}" alt="" class = "splash">
                        </div>
                        <hr>
                        <blockquote class="text-muted abt">
                            ~To live as one
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of about modal -->