{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_superuser %}

<div>
  <div class="text-center">
    <br>
    <h5>Hello Admin {{user.username}}</h5>
    <h3>Manage Neighbourhood</h3>
  </div>
  <br>
  <div class="row text-center d-flex justify-content-center">
    <div class="col-6">
      <a class="btn btn-md btn-success"  href="{% url 'newHood' %}">Create Hood</a>
    </div>
  </div>
  <br>
  <div>
    <table class="table" style="width: 80%; margin-left:10%;">
      <thead>
        <tr>
          <th scope="col">UserName</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Neighbourhood</th>
          <th scope="col">Occupants</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.username}}</th>
          <td>{{user.profile.first_name}}</td>
          <td>{{user.profile.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.profile.neighbourhood.name}}</td>
          {% if user.profile.neighbourhood.id %}
          <td><a class="btn btn-sm btn-success" href="{% url 'occupants' user.profile.neighbourhood.id %}">view occupants</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="container">
    <br>
    <div class="row">
        <h2 class="text-center" style="font-size: 30px;">All Neighbourhoods</h2>
        {% for hood in hoods %}
        <div class="col-lg-4 col-md-6 col-sm-10">
            <br>
            <div class="card">
                <img src="{% static '/images/mcgill.jpg'%}" class="card-img-top d-flex" alt="{{hood.name}}" style="max-height:240px; max-width: 300px; margin: auto;">
                <div class="card-body text-center">
                    <h5 class="card-title">Neighbourhood: {{hood.name}}</h5>
                    <p class="card-text">Location: {{hood.location}} </p>
                    {% if request.user.profile.neighbourhood %}
                    <br>
                    {% else %}
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-success" data-toggle="modal" data-target="#ModalCenter" >Select Hood</a>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">New Business</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token%}
            {{form|crispy}}
            
            <button type="submit" class="btn btn-sm btn-success">Save</button>
            <button type="button" class="btn btn-sm btn-outline-danger " data-dismiss="modal">
                Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}