{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <h2 class="text-center" style="font-size: 30px;">All Neighbourhoods</h2>
        {% for hood in hoods %}
        <div class="col-lg-4 col-md-6 col-sm-10">
            <br>
            <div class="card">
                <img src="{% static '/images/mcgill.jpg'%}" class="card-img-top d-flex" alt="{{hood.name}}" style="max-height:240px; max-width: 300px; margin: auto;">
                <div class="card-body text-center">
                    <h5 class="card-title">Neighbourhood: {{hood.name}}</h5>
                    <p class="card-text">Location: {{hood.location}} </p>
                    {% if request.user.profile.neighbourhood %}
                    <br>
                    {% else %}
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-info" data-toggle="modal" data-target="#ModalCenter" >Select Hood</a>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">New Business</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token%}
            {{form|crispy}}
            
            <button type="submit" class="btn btn-sm btn-success"></button>
            <button type="button" class="btn btn-sm btn-outline-danger " data-dismiss="modal">
                Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}