{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <h2 class="text-center" style="font-size: 30px;">All Neighbourhoods</h2>
        {% for hood in hoods %}
        <div class="col-4">
            <br>
            <div class="card">
                <img src="{% static '/images/mcgill.jpg'%}" class="card-img-top d-flex" alt="{{hood.name}}" style="max-height:240px; width: 200px; margin-left: 20%;">
                <div class="card-body">
                    <h5 class="card-title">Neighbourhood: {{hood.name}}</h5>
                    <p class="card-text">Location: {{hood.location}} </p>
                    {% if request.user.profile.neighbourhood == neighbourhood %}
                    <br>
                    {% else %}
                    <div class="card-footer">
                        <a class="btn btn-outline-info" href="{% url 'pickHood' hood.id %}">Select Hood</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}