{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container ">
    <br><br><br>
    <div class="row">
        <div class="col-6 text-center" style="margin-left: 30px;">
            <img class="rounded-circle d-block mx-auto" src="{% static '/images/ricardo.jpg' %}" height="125px" width="125px">
            <h5 class="mt-3">{{user.username}}</h5>
            <h4>{{user.profile.first_name}} {{user.profile.last_name}}</h4>
            <p> {{user.email}}</p>
            {% if request.user.profile.neighbourhood %}
            <p class="text-center">Neighbourhood Details
                <br> <a class="btn btn-sm btn-success" href="">{{ user.profile.neighbourhood.name }}</a>
            </p>
            {% endif %}
        </div>
        
        <div class="col-4">
            {%if user.profile.user.id == user.id%}
            <br><br><br><br><br><br>
             <a class="btn btn-sm btn-success" href="{% url 'updateProfile' %}"> Update Profile</a>        
            {% endif %}   
        </div>
    </div>
    <br>
</div>
   	
{% endblock %}