{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:-4">
  <br><br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{% static '/images/mcgill.jpg' %}" class="card-img" alt="image" style="max-height: 250px; max-width: 250px;">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">
                {{ details.name }} <small>({{details.location}})</small>
              </h5>
              <h6 class="card-text">
                  <span><strong>{{details.occupants.count}} </strong> Occupants | </span>
                  <span><strong>{{details.business.count }}</strong> Businesses | </span>
                  <span><strong>{{details.post.count }}</strong> Posts </span>
              </h6>
              <p class="card-text"><span class="text-info">Police Tell</span>
                  &nbsp;<strong>{{details.police}}</strong> |
                  <span class="text-info">Hospital Tell</span> <strong>{{details.health}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container bg-white hoode">
    <div class="row">
      <div class="col-md-12">
        
        {% if details.admin == details.user %}
        <a href="{% url 'accounts' details.id %}" class="btn btn-sm btn-outline-info mb-4 ml-4">Accounts</a>
        {% endif %}
        
        <br>
        <h5 class="text-center D-block mx-auto tt">Businesses</h5>
        <hr>
        <div class="row">
          <div class="col-6">
            <form style="float:left; margin-left: 28%;" class="form-inline" method="get" action="{% url 'search' %}">
              {% csrf_token %}
              <div class="md-form my-0">
                <input class="form-control border border-info " type="text" placeholder="Search Business" name="business" aria-label="Search">
              </div>
            </form>
          </div>
          <div class="col-4">
            <a style="float:right; margin-right: 5%;" href="" class="btn btn-md btn-outline-info text-dark" data-toggle="modal" data-target="#ModalCenter" >Add Business</a>
          </div>

          {% for bus in business %}
          <div class="col-10">
            <br>
            <div class="card mb-4" style="margin-left: 15%;">
              <div class="card-body">
                <img src="{% static '/images/jeremy.jpg' %}" alt="businesss" style="float: right; max-width:300px; max-height: 200px;">
                <h5 class="card-title">{{bus.name}}
                </h5>
                <p class="card-text">{{bus.email}}</p>
                <p class="card-text">{{bus.description}}</p>
                <p class="card-text">Owner: <small class="text-muted">{{ bus.user |title }}</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <hr>
        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">New Business</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="post">
                  {% csrf_token%}
                  {{form|crispy}}
                  <button type="submit" class="btn btn-sm btn-success">Save Business</button>
                  <button type="button" class="btn btn-sm btn-outline-danger " data-dismiss="modal">
                      Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}